body {
  margin: 0;
  background-color: #23252C;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.photo {
  background-image: url(/src/assets/girl.png);
  background-position: 60% 20%;
  margin: auto;
  width: 80%;
  max-width: 400px;
  height: 320px;
  margin-top: 1.5em;
  border-radius: 10px 10px 0px 0px;
}

 main {
  background-color: #1A1B21;
  width: 80%;
  max-width: 400px;
  margin: auto;
  padding: 0.1em 0;
}

.wrapper {
  margin: auto;
  color: #FFF;
  width: 90%;
}

.about-me-container {
  text-align: center;
}

.about-me-container h1 {
  margin-bottom: 0;
  font-size: 1.5rem;
}

.about-me-container p {
  margin-top: 0.4em;
  margin-bottom: 0;
  color: #F3BF99;
  font-size: 0.8rem;
}

.about-me-container span {
  font-size: 0.625rem;
  margin-top: 0.5625em;
}

.btns-container {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.btn {
  margin: auto;
  display: inline-block;
  text-decoration: none;
  background-color: #FFF;
  padding: 0.6em 2em;
  border-radius: 6px;
  font-size: 0.8rem;
}

i {
  margin-right: 0.5em;
}

.linkedin-btn {
  color: #FFF;
  background-color: #5093E2;
  margin-left: 1em;
}

.email-btn {
  color: #374151;
  background-color: #FFF;
  margin-right: 0;
}

.inner-container {
  width: 80%;
  margin: auto;
  margin-top: 2em;
}

.inner-container h3 {
  font-size: 1rem;
}

.inner-container p {
  color: #DCDCDC;
  font-size: 0.7rem;
  margin-bottom: 1.5em;
  line-height: 1.5;
}

.inner-container:last-child{
  margin-top: 2em;
  margin-bottom: 2em;

}

footer {
  background-color: #161619;
  width: 80%;
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 1.5em 0;
  margin-bottom: 2em;
  border-radius: 0px 0px 10px 10px;
}

footer > i {
  background-color: #918E9B;
  padding: 0.3em 0.3em 0em 0.3em;
  font-size: 1.3rem;
  border-radius: 5px;
}